<div class="starter-template">
    <div class="container">
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-car fa-2x"></i><h2>Simulate route</h2>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{car.deviceUUID}}</div>
                        <div><h2>Car: {{car.name}}</h2></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div gmap="gmap"></div>
<nav class="navbar navbar-default" style="margin-top: 20px;">
    <div class="container-fluid" style="padding-top: 7px;">
        <form name="checkRouteForCar" ng-submit="testRouteForCar()" accept-charset="utf-8" class="navbar-form navbar-left"  role="form" novalidate>
            <div class="form-group">
                <input type="hidden" class="form-control input-lg" ng-model="car.id"/>
            </div>
            <div class="form-group"
                 ng-class="{'has-error' : checkRouteForCar.gmap.totalKm.$invalid && (checkRouteForCar.gmap.totalKm.$dirty || showValidation)}">
                <label for="totalKm">Total Distance (Km)</label>
                <input type="text" class="form-control input-lg" id="totalKm" placeholder="Enter device UUID"
                       ng-model="gmap.totalKm"/>
            </div>
            <button class="btn btn-default btn-primary">Check Car</button>
        </form>
    </div>
</nav>

    <div class="alert alert-danger" role="alert" ng-hide="alertDangerValueCheck">
        {{statusValueCheck}} : {{messageValueCheck}}
    </div>
    <div class="alert alert-success" ng-hide="alertSuccessValueCheck">
        {{statusValueCheck}} : {{messageValueCheck}}
    </div>

    </div>
</div>
