<div class="row">
    <div class="col-md-12">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-car fa-2x"></i><h2>My cars</h2>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Car name</th>
            <th>Device UUID</th>
            <th>Active</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="car in myCars">
            <td>{{car.name}}</td>
            <td>{{car.deviceUUID}}</td>
            <td>
                <i class="{{car.active == true ? 'fa fa-check' : 'fa fa-times'}}"></i>
            </td>
            <td>
                <a ng-click="editToggleModal(car.carId)" title="Edit car"><i class="fa fa-edit"></i></a>
                &nbsp;
                <a href="/#/map/{{car.carId}}" title="Simulate route"><i class="fa fa-location-arrow"></i></a>
            </td>
        </tr>
    </tbody>
</table>
<button class="btn btn-default btn-primary" ng-click='toggleModal()'>Add new car</button>

<modal-dialog show='modalShown' width='750px' height='90%'>
    <h1>Add Car</h1>

    <form name="formAddCar"  ng-submit="submitCar()" accept-charset="utf-8" class="form" role="form" novalidate>
        <div class="form-group"
             ng-class="{'has-error' : formAddCar.name.$invalid && (formAddCar.name.$dirty || showValidation)}">
            <label for="name">Car name</label>
            <input type="text" class="form-control input-lg" id="name" placeholder="Enter car name"
                   ng-model="car.name"/>
        </div>
        <div class="form-group"
             ng-class="{'has-error' : formAddCar.deviceUUID.$invalid && (formAddCar.deviceUUID.$dirty || showValidation)}">
            <label for="deviceUUID">Device UUID</label>
            <input type="text" class="form-control input-lg" id="deviceUUID" placeholder="Enter device UUID"
                   ng-model="car.deviceUUID"/>
        </div>
        <div class="checkbox" >
            <label><input name="active" ng-model="car.active" type="checkbox">Active</label>
        </div>
        <button type="submit" class="btn btn-default btn-primary">Submit</button>
    </form>
</modal-dialog>

<modal-dialog show='editToggleModalShown' width='750px' height='90%'>
    <h1>Edit Car</h1>

    <form name="formEditCar"  ng-submit="submitEditCar()" accept-charset="utf-8" class="form" role="form" novalidate>
        <div class="form-group"
             ng-class="{'has-error' : formEditCar.name.$invalid && (formEditCar.name.$dirty || showValidation)}">
            <label for="nameEdit">Car name</label>
            <input type="text" class="form-control input-lg" id="nameEdit" placeholder="Enter car name"
                   ng-model="car.name"/>
        </div>
        <div class="form-group">
            <label for="deviceUUIDEdit">Device UUID</label>
            <input type="text" class="form-control input-lg" id="deviceUUIDEdit" placeholder="Enter device UUID"
                   ng-model="car.deviceUUID" readonly="readonly"/>
        </div>
        <div class="checkbox" >
            <label><input name="active" ng-model="car.active" type="checkbox">Active</label>
        </div>

        <h3>Sensor critical values:</h3>

        <div class="form-group"  ng-repeat="sensor in sensorsList">
            <label for="sensor_{{sensor.sensorName}}">{{sensor.sensorName}} ({{sensor.sensorType}})</label>
            <input type="text" class="form-control input-lg" id="sensor_{{sensor.sensorName}}" placeholder="Enter value"
                   ng-model="sensor.criticalValue"/>
        </div>

        <button type="submit" class="btn btn-default btn-primary">Submit</button>
    </form>
</modal-dialog>