<div class="starter-template">
    <div class="container">
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-car fa-2x"></i><h2>Car documents</h2>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{car.deviceUUID}}</div>
                        <div><h2>Car: {{car.name}}</h2></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Activation Date</th>
        <th>Expiration Date</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="document in documents">
        <td>{{document.name}}</td>
        <td>{{document.activationDate | date:'dd-MM-yyyy'}}</td>
        <td>{{document.expirationDate | date:'dd-MM-yyyy'}}</td>
        <td>
            <a ng-click="editToggleModal(document.id)" title="Edit"><i class="fa fa-edit"></i></a>
        </td>
    </tr>
    </tbody>
</table>
<button class="btn btn-default btn-primary" ng-click='toggleModal()'>Add new document</button>

<modal-dialog show='modalShown' width='750px' height='90%'>
    <h1>Add Document</h1>

    <form name="formAddDocument" ng-submit="submitDocument()" accept-charset="utf-8" class="form" role="form"
          novalidate>
        <div class="form-group"
             ng-class="{'has-error' : formAddDocument.name.$invalid && (formAddDocument.name.$dirty || showValidation)}">
            <label for="name">Document name</label>
            <input type="text" class="form-control input-lg" id="name" placeholder="Enter document name"
                   ng-model="document.name"/>
        </div>

        <datepicker class="col-md-5 well well-sm" ng-model="document.activationDate" show-weeks="true"></datepicker>
        <datepicker class="col-md-5 well well-sm" ng-model="document.expirationDate" show-weeks="true"></datepicker>
        <button type="submit" class="btn btn-default btn-primary">Submit</button>

    </form>
</modal-dialog>

<modal-dialog show='editToggleModalShown' width='750px' height='90%'>
    <h1>Edit Document</h1>

    <form name="formEditDocument" ng-submit="submitEditDocument()" accept-charset="utf-8" class="form" role="form"
          novalidate>
        <div class="form-group"
             ng-class="{'has-error' : formAddDocument.name.$invalid && (formAddDocument.name.$dirty || showValidation)}">
            <label for="nameEdit">Document name</label>
            <input type="text" class="form-control input-lg" id="nameEdit" placeholder="Enter document name"
                   ng-model="document.name"/>
        </div>

        <datepicker class="col-md-5 well well-sm" ng-model="document.activationDate" show-weeks="true"></datepicker>
        <datepicker class="col-md-5 well well-sm" ng-model="document.expirationDate" show-weeks="true"></datepicker>

        <button type="submit" class="btn btn-default btn-primary">Submit</button>
    </form>
</modal-dialog>
        </div>
    </div>