<div class="starter-template">
    <div class="container">
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-car fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{myCars.carFleet.length}}</div>
                        <div>Total Cars</div>
                    </div>
                </div>
            </div>
            <a ng-href="#/myCars">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-support fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{verif.length}}</div>
                        <div>Critical!</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-exclamation-triangle fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{alerts.length}}</div>
                        <div>Critical!</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-md-12">

        <div class="panel panel-danger" ng-show="showPabelDetails">
            <div class="panel-heading">{{detailPanelTitle}}</div>
            <br>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Car name</th>
                    <th>Message</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in itemList">
                    <td>{{item.name}}</td>
                    <td>{{item.message}}</td>
                </tr>
            </table>
        </div>

    </div>
</div>
        </div>
    </div>

